body {
  padding-top: 70px;
}

i.big-icon {
  font-size: 170px;
  margin-top: 20px;
}

@keyframes domChanged { from { background: yellow; } }
@-webkit-keyframes domChanged { from { background: yellow; } }
.ember-view { animation: domChanged 1s; -webkit-animation: domChanged 1s; }
