body {
  padding-top: 70px;
}

i.big-icon {
  font-size: 170px;
  margin-top: 20px;
}

.panel-heading small {
  margin-top: 7px;
}

input.note-title {
  width: 100%;
  border: none !important;
  padding-left: 10px;
  outline: none;
}

#editor {
  border: none !important;
  padding: 0px !important;
}

div.ui-pnotify-icon span {
  margin-top: 3px;
}}

@keyframes domChanged { from { background: yellow; } }
@-webkit-keyframes domChanged { from { background: yellow; } }
.ember-view { animation: domChanged 1s; -webkit-animation: domChanged 1s; }
