<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}
        <i class="fa fa-pencil-square fa-lg"></i>
        Ember App
      {{/link-to}}
    </div>
    <div class="collapse navbar-collapse">
      {{#if isAuthenticated}}
      <ul class="nav navbar-nav">
        {{#link-to 'index' tagName="li"}}{{#link-to 'index'}}Home{{/link-to}}{{/link-to}}
      </ul>
      {{/if}}
      <ul class="nav navbar-nav navbar-right">
      {{#if isAuthenticated}}
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{currentUser.name}}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#" {{action 'signOut'}}>Sign Out</a></li>
          </ul>
        </li>
      {{else}}
        <!-- {{#link-to 'sign_up' tagName="li"}}{{#link-to 'sign_up'}}Sign Up{{/link-to}}{{/link-to}} -->
        <!-- {{#link-to 'sign_in' tagName="li"}}{{#link-to 'sign_in'}}Sign In{{/link-to}}{{/link-to}} -->
      {{/if}}
      </ul>

    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container">

  <div class="starter-template">
    {{outlet}}
  </div>

</div><!-- /.container -->
