<div class='col-sm-3'>
  <div class="panel panel-default">
    {{#link-to 'notes' class='btn btn-success btn-block'}} 
      <i class="fa fa-plus fa-lg"></i> New note
    {{/link-to}}
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        All notes
      </h3>
    </div>
    <div class="list-group">
      {{#each}}
        {{#link-to 'note' this class='list-group-item'}} 
          <div class="h5">{{title}}</div>
          <span class "p">
            {{excerpt}}
          </span>
        {{/link-to}}
      {{/each}}
    </div>
  </div>

</div>
<div class='col-sm-9'>
  {{outlet}}
</div>


